<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JS carousel</title>
  </head>
  <body>
    <h1>JS carousel</h1>
    <div id="carousel1">
      <img src="<%= require('./assets/images/1.jpeg') %>" alt="Image slide 1" />
      <img src="<%= require('./assets/images/2.jpeg') %>" alt="Image slide 2" />
      <img src="<%= require('./assets/images/3.jpeg') %>" alt="Image slide 3" />
      <img src="<%= require('./assets/images/4.jpeg') %>" alt="Image slide 4" />
    </div>
    <div id="carousel2">
      <img src="<%= require('./assets/images/1.jpeg') %>" alt="Image slide 1" />
      <img src="<%= require('./assets/images/2.jpeg') %>" alt="Image slide 2" />
      <img src="<%= require('./assets/images/3.jpeg') %>" alt="Image slide 3" />
      <img src="<%= require('./assets/images/4.jpeg') %>" alt="Image slide 4" />
    </div>
  </body>
</html>
